{layout '../layouts/main.latte'}

{block content}
      <table class='maintable'>
      <tr class='headline'><td><center>Select player's land to attack</center></td></tr>
      <tr class='mainrow'><td>
		  <p>Type the ID# of the player whose land you wish to attack:</p><br>
      <form action='' method='post'>
      <input type='text' name='victimid' class='inline_text_inp' style='width:75px;'><br>
      <input type='submit' name='submit' value='Attack' class='RedButton' style='width:93px'></form>
      </td></tr></table><br><br>

{if $resultMessage}
<center>
<table class='maintable'>
<tr class='headline'><td><center>result</center></td></tr>
<tr class='mainrow'><td>
{$resultMessage|noescape}
</td></tr></table>
</center>
{/if}
{/block}
