{layout '../layouts/main.latte'}

{block content}
{if $message}
	{$message|noescape}
{else}
	<form action='' method='post'>
	Enter e-mail address: <input type='email' name='getpassword' size='20' class='inline_text_inp' style='width:180px'>&nbsp;
	<input type='submit' name='submit' value='submit' class='RedButton' style='width:80px'></form>&nbsp;
	<form action='login.php' method='post'><input type='submit' name='submit' value='cancel' class='RedButton' style='width:80px'></form>
{/if}
{/block}
