{layout '../layouts/main.latte'}

{block content}
	{if $isDead}
		<p class='td_width_bold'>You have been slain by {$killer|escapeHtml}</p>
		<form action='revive.php' method='post'>
			<input type='hidden' name='ID' value='{$userID|escapeHtml}'>
			<input type='submit' name='revives' value='revive' class='RedButton' style='width:80px'>
		</form>
		</div><br><br><br>
	{else}
		<p>Welcome, {$player|escapeHtml} into the world of survivors!</p>
		<table class='maintable'>
			<tr class='headline'><td><center>Statistics</center></td></tr>
			<tr class='mainrow'><td><b>Turns: {$stats['numturns']|escapeHtml}</b></td></tr>
			<tr class='mainrow'><td><b>skill pts: {$stats['skillpts']|escapeHtml}</b></td></tr>
			<tr class='mainrow'><td><b>Honor: {$stats['honor']|escapeHtml}</b></td></tr>
			<tr class='mainrow'><td><b>Gold: {$stats['gold']|escapeHtml}</b></td></tr>
			<tr class='mainrow'><td><b>Land: {$stats['land']|escapeHtml}</b></td></tr>
			<tr class='mainrow'><td><b>offensive army: {$stats['offarmy']|escapeHtml}</b></td></tr>
			<tr class='mainrow'><td><b>Defensive army: {$stats['dffarmy']|escapeHtml}</b></td></tr>
			<tr class='mainrow'><td><b>training pts: {$stats['science']|escapeHtml}</b></td></tr>
		</table><br>

		<table class='maintable'>
			<tr class='mainrow'><td><tr class='headline'><td><center>User settings:</center></td></tr>
			<tr class="mainrow"><td><br><br><b><a href='../setpass.php'>Change password</a></b><br><br></td></tr>
		</table>
	{/if}
{/block}
