{layout '../layouts/main.latte'}

{block content}
	<h2 class="mb-4">Player Rankings</h2>

	<div class="list-group">
		<a href="top.php" class="list-group-item list-group-item-action">Players by Rank</a>
		<a href="playerclose.php" class="list-group-item list-group-item-action">Players Close to You</a>
		<a href="tophonor.php" class="list-group-item list-group-item-action">Players by Honor</a>
		<a href="topland.php" class="list-group-item list-group-item-action">Largest Fiefdoms (Land)</a>
	</div>
{/block}
