{layout '../layouts/main.latte'}

{block content}
<table class='maintable'><tr class='headline'><td><center>Ranks and Rules</center></td></tr>
<tr class='mainrow'><td><A href='top.php'>Players by rank</a></td></tr>
<tr class='mainrow'><td><A href='playerclose.php'>Players close to you</a></td></tr>
<tr class='mainrow'><td><A href='tophonor.php'>Players by Honor</a></td></tr>
<tr class='mainrow'><td><A href='topland.php'>Largest Fiefdoms(land)</a></td></tr>
</td></tr></table><br><br>
{/block}
