{layout '../layouts/main.latte'}

{block content}
	{* Display form errors *}
	<div n:if="$form->hasErrors()">
		<ul class="error">
			<li n:foreach="$form->errors as $error">{$error}</li>
		</ul>
	</div>

	<form n:name="form">
		Type Username Here: <input n:name="player"><br>
		Type Password Here: <input n:name="password"><br>
		Retype password: <input n:name="pass2"><br>
		Type E-mail address: <input n:name="email"><br>
		<input n:name="send">
	</form>
	<br>
	<form method="post" action="login.php">
		<input type="submit" value="cancel" class="RedButton" style="width:80px">
	</form>
{/block}
