<!DOCTYPE html>
<html>
<head>
    <title>{block title}Kill Monster Admin{/block}</title>
    {block head}{/block}
</head>
<body>
    <center><h3>Kill Monster Admin</h3></center><br>
    <center>
        <table border='0' width='70%' cellspacing='20'>
            <tr>
                <td width='25%' valign='top'>
                    {include '../admin/sidebar.latte'}
                </td>
                <td valign='top' width='75%'>
                    {include content}
                </td>
            </tr>
        </table>
    </center><br><br>
    <font size='1'>Script Produced by © <a href='http://www.chipmunk-scripts.com'>Chipmunk Scripts</a></font>
</body>
</html>
