<!DOCTYPE html>
<html>
<head>
    <title>Authentication Error - Kill Monster</title>
</head>
<body>
    <center>
        <h2>Authentication Failed</h2>
        <p>{$error|escapeHtml}</p>
        <a href="login.php">Try again</a>
    </center>
</body>
</html>
