{layout '../layouts/admin.latte'}
{block content}
Here is the Kill Monster Admin<br><br>
Create Monster -- Lets you Create a Monster<br><br>
Delete Monster -- lets you delete a monster<br><br>
User Management -- Lets you edit and delete users
{/block}
