<!DOCTYPE html>
<html>
<head>
    <title>Register Admin - Kill Monster</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<center>
<table class='maintable'>
<tr class='headline'><td><font color='white'><center>Register</center></td></tr>
<tr class='mainrow'><td><center>
{$message|noescape}
</center></td></tr></table>
</body>
</html>
