{layout '../layouts/admin.latte'}
{block content}
<center><form action='reset.php' method='post'>
<input type='submit' name='submit' value='Reset'></form>
<br><br>Warning, resetting will delete all players and skills and they will have to register again. This basically begins a new round in the game.<br>
{/block}
