<div class="list-group">
	<div class="list-group-item list-group-item-danger fw-bold">
		Admin Options
	</div>
	<a href="addmonster.php" class="list-group-item list-group-item-action">Add Monster</a>
	<a href="deletemonster.php" class="list-group-item list-group-item-action">Delete Monster</a>
	<a href="manageuser.php" class="list-group-item list-group-item-action">User Management</a>
	<a href="addforum.php" class="list-group-item list-group-item-action">Add Forum</a>
	<a href="listforums.php" class="list-group-item list-group-item-action">Edit/Delete Forums</a>
	<a href="reset.php" class="list-group-item list-group-item-action">Reset Game</a>
	<a href="logout.php" class="list-group-item list-group-item-action list-group-item-warning">Admin Logout</a>
</div>
