{layout '../layouts/main.latte'}

{block content}
<center>

<link rel="stylesheet" href="../style.css" type="text/css">

{if $isLoggedIn}
    <table border='0' width=90%>
        <tr>
            <td><p align='left'><A href='../index.php'>Back to main game</a>-<A href='index.php'>Back to forum index</a></p></td>
            <td colspan='3'><p align='right'><A href='post.php?forumid={$forumID|escapeHtml}'><b>New Thread</b></a></p></td>
        </tr>
    </table><br>

    <table class='maintable'>
        <tr class='headline'>
            <td colspan='2'>Topic</td>
            <td>Topic Starter</td>
            <td>Replies</td>
            <td>Last Post</td>
        </tr>
        {foreach $topics as $topic}
        <tr class='mainrow'>
            <td>
                {if $topic['hasNewPosts']}
                    <img src='../images/yesnewposts.gif' border='0'>
                {else}
                    <img src='../images/topic.gif' border='0'>
                {/if}
            </td>
            <td>
                <A href='messages.php?forumID={$forumID|escapeHtml}&ID={$topic['msgid']|escapeHtml}'>{$topic['subject']|escapeHtml}</a>
            </td>
            <td>{$topic['playername']|escapeHtml}</td>
            <td>{$topic['numreplies']|escapeHtml}</td>
            <td>{$topic['realtime']|escapeHtml}</td>
        </tr>
        {/foreach}
    </table><br><br>

    <table border='0' width=90%>
        <tr>
            <td class='regrow'>
                <p align='right'>
                    Page:
                    {if $pagination['showPrev']}
                        <A href='forum.php?ID={$forumID|escapeHtml}'>First</a>&nbsp&nbsp;&nbsp;
                        <A href='forum.php?ID={$forumID|escapeHtml}&start={$pagination['prev']|escapeHtml}'><<</a>&nbsp;
                    {/if}
                    {foreach $pagination['pages'] as $page}
                        <A href='forum.php?ID={$forumID|escapeHtml}&start={$page['start']|escapeHtml}'>{$page['number']|escapeHtml}</a>
                    {/foreach}
                    {if $pagination['showNext']}
                        &nbsp;<A href='index.php?ID={$forumID|escapeHtml}&start={$pagination['next']|escapeHtml}'>>></a>&nbsp;&nbsp;&nbsp;
                        <A href='index.php?ID={$forumID|escapeHtml}&start={$pagination['last']|escapeHtml}'>Last</a>
                    {/if}
                </p>
            </td>
        </tr>
    </table>
{else}
    <table class='maintable'>
        <tr class='headline'><td><center>Not logged in</center></td></tr>
        <tr class='mainrow'><td>You are not logged in, please <A href='../login.php'>Login</a></td></tr>
    </table>
{/if}
{/block}
